<section class="page">
    <div class="container">
        <div class="page-wrapper">
            <div class="page-header">
                <h1 class="page-title">
                    Adicionar pergunta
                </h1>
                <div class="page-header__buttons">
                    <button mat-stroked-button color="primary" routerLink="/admin/perguntas">
                        VOLTAR
                    </button>
                </div>
            </div>
            <form class="page-form" (ngSubmit)="submit(form)" #form="ngForm">

                <h3 class="page-form__title">
                    Dados da pergunta
                </h3>

                <mat-form-field class="page-form-control">
                    <input matInput type="text" placeholder="Pergunta" [(ngModel)]="data.pergunta" name="pergunta" required>
                </mat-form-field>

                <mat-form-field class="page-form-control">
                    <textarea matInput rows="6" placeholder="Resposta" [(ngModel)]="data.resposta" name="resposta"></textarea>
                </mat-form-field>

                <hr>

                <button mat-raised-button color="primary" type="submit">
                    SALVAR
                </button>

            </form>
        </div>
    </div>
</section>